{% extends 'base.html' %} 
{% load static %}

{% block content %}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- <img class="w-100" src="img/carousel-1.jpg" alt="Image"> -->
                <img class="w-100" src="/static/img/branding.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">Branding</h5>
                        <h1 class="display-1 text-white mb-md-4">We Help You To Make Brand </h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">Get Quote</a>
                        <a href="" class="btn btn-secondary py-md-3 px-md-5 rounded-pill">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="/static/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">Business Consultancy</h5>
                        <h1 class="display-1 text-white mb-md-4">Take Our Help To Reach The Top Level</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">Get Quote</a>
                        <a href="" class="btn btn-secondary py-md-3 px-md-5 rounded-pill">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid bg-secondary p-0">
    <div class="row g-0">
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Welcome To <span class="text-primary">Stitchess</span></h1>
            <h4 class="text-primary mb-4">A complete platform designed to help you in promoting your enterprise.</h4>
            <p class="mb-4">Is your brand's voice trapped in a dusty attic, accumulating cobwebs? We're the branding archaeologists, and we're here to uncover its buried potential! We'll help you uncover your company's essential narrative and translate it into an engaging brand that ignites discussions and generates a devoted community around your business. Allow us to create the ideal brand building map, taking your audience on an exciting voyage of discovery and, eventually, conversion.</p>
            <a href="" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Get A Quote</a>
        </div>
        <div class="col-lg-6">
            <div class="h-100 d-flex flex-column justify-content-center bg-primary p-5">
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-chart-line fs-4"></i>
                    </div>
                    <div class="ps-4">
                        <h3>Brand Building</h3>
                        <p class="mb-0">Building a brand is the process of altering how your target audience think about your business.</p>
                    </div>
                </div>
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-tie fs-4"></i>
                    </div>
                    <div class="ps-4">
                        <h3>Business Planning</h3>
                        <p class="mb-0">Business planning is charting your course to success, outlining your goals and the steps to achieve them.</p>
                    </div>
                </div>
                
                <div class="d-flex text-white">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-balance-scale fs-4"></i>
                    </div>
                    <div class="ps-4">
                        <h3>Consulting Services</h3>
                        <p class="mb-0">Consulting services bring in expert outsiders to diagnose problems and offer solutions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid pt-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">What We Offer</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-line fa-2x"></i>
                </div>
                <h3 class="mb-3">Brand Building</h3>
                <p class="mb-0">Building a brand is the process of altering how your target audience think about your business.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-pie fa-2x"></i>
                </div>
                <h3 class="mb-3">Business Planning</h3>
                <p class="mb-0">Business planning is charting your course to success, outlining your goals and the steps to achieve them.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-user-tie fa-2x"></i>
                </div>
                <h3 class="mb-3">Consulting Services</h3>
                <p class="mb-0">Consulting services bring in expert outsiders to diagnose problems and offer solutions.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-area fa-2x"></i>
                </div>
                <h3 class="mb-3">Electrical Parts</h3>
                <p class="mb-0">We are the lifeblood of any project, keeping the current flowing with essential components.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-balance-scale fa-2x"></i>
                </div>
                <h3 class="mb-3">Machenical Parts</h3>
                <p class="mb-0">We are the silent heroes, the backstage crew keeping machines in motion.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-house-damage fa-2x"></i>
                </div>
                <h3 class="mb-3">Solar Panel Supplier</h3>
                <p class="mb-0">We are the sunshine architects, building the foundation for a brighter tomorrow.</p>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Features Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Why Choose Us!!!</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-cubes fs-4 text-white"></i>
                    </div>
                    <h3>Best In Industry</h3>
                    <p class="mb-0">When it comes to branding and business promotion, we lead the industry.</p>
                </div>
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-percent fs-4 text-white"></i>
                    </div>
                    <h3>99% Success Rate</h3>
                    <p class="mb-0">Only 1% of customers are dissatisfied, something we do not discover till now.</p>
                </div>
                <!-- <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-award fs-4 text-white"></i>
                    </div>
                    <h3>Award Winning</h3>
                    <p class="mb-0">Magna sea eos sit dolor, ipsum amet ipsum lorem diam dolor eos diam et diam dolor ea</p>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-block bg-primary h-100 text-center">
                <!-- <img class="img-fluid" src="/static/img/brand_logo.png" alt="">  -->
                <img class="img-fluid" src="/static/img/stitches_white_bg.png" alt=""> 
                <!-- feature.jpg -->
                <div class="p-4">
                    <p class="text-white mb-4">At Stitchees, we provide skilled planning and branding solutions to assist new and developing companies in their evolution within the competitive market. Our knowledgeable team of experts will see the potential in your company and direct you along the best route to attain the intended level of success. In order to accomplish the successful completion, our team of suppliers will comprehend your needs and supply you the greatest stuff at the best prices.</p>
                    <!-- <a href="" class="btn btn-light py-md-3 px-md-5 rounded-pill mb-2">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="far fa-smile-beam fs-4 text-white"></i>
                    </div>
                    <h3>100% Happy Client</h3>
                    <p class="mb-0">Customer satisfaction is our #1 goal.</p>
                </div>
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-tie fs-4 text-white"></i>
                    </div>
                    <h3>Professional Advisors</h3>
                    <p class="mb-0">Our team of professionals will provide you with expert advise.</p>
                </div>
                <!-- <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-headset fs-4 text-white"></i>
                    </div>
                    <h3>24/7 Customer Support</h3>
                    <p class="mb-0">Magna sea eos sit dolor, ipsum amet ipsum lorem diam dolor eos diam et diam dolor ea</p>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->


<!-- Quote Start -->
<div class="container-fluid bg-secondary px-0">
    <div class="row g-0">
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Request A Free Quote</h1>
            <p class="mb-4">Curious how we can help your brand shine?  Get a free quote and discover how our expertise can turn your content dreams into reality. There's no obligation, just valuable insights to fuel your content strategy.</p>
            <form>
                <div class="row gx-3">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="form-floating-1" placeholder="John Doe">
                            <label for="form-floating-1">Full Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="form-floating-2" placeholder="name@example.com">
                            <label for="form-floating-2">Email address</label>
                        </div>
                    </div>
                    <!-- <div class="col-6">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Financial Consultancy">
                                <option selected>Financial Consultancy</option>
                                <option value="1">Strategy Consultancy</option>
                                <option value="2">Tax Consultancy</option>
                            </select>
                            <label for="floatingSelect">Select A Service</label>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <button class="btn btn-primary w-100 h-100" type="submit">Request A Quote</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6" style="min-height: 400px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="/static/img/quote.jpg" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->

<!-- Testimonial Start -->
<div class="container-fluid bg-secondary p-0">
    <div class="row g-0">
        <!-- #<div class="col-lg-6" style="min-height: 500px;"> -->
        <div class="col-lg-6" style="min-height: 500px;">            
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="/static/img/testimonial.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Our Happy Client!!!</h1>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item">
                    <!-- <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat dolor rebum sit ipsum.</p> -->
                    <div class="d-flex align-items-center">
                        <!-- <img class="img-fluid rounded-circle" src="/static/img/manthan-logo.png" alt=""> -->
                        <img class="img-fluid " src="/static/img/manthan-logo.png" alt="">
                        <div class="ps-4">
                            <h3>The Manthan School</h3>
                            <span class="text-uppercase">School</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <!-- <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat dolor rebum sit ipsum.</p> -->
                    <div class="d-flex align-items-center">
                        <img class="img-fluid " src="/static/img/tco1_new_logo.png" alt="">
                        <div class="ps-4">
                            <h3>The Class Of One </h3>
                            <span class="text-uppercase">Global Online School</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <!-- <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat dolor rebum sit ipsum.</p> -->
                    <div class="d-flex align-items-center">
                        <img class="img-fluid " src="/static/img/NBCC_Logo.png" alt="">
                        <div class="ps-4">
                            <h3>NBCC India Ltd</h3>
                            <!-- <span class="text-uppercase">Global Online School</span> -->
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <!-- <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat dolor rebum sit ipsum.</p> -->
                    <div class="d-flex align-items-center">
                        <img class="img-fluid " src="/static/img/logo_far.png" alt="">
                        <div class="ps-4">
                            <h3>MFAR Constructions Private Limited</h3>
                            <!-- <span class="text-uppercase">Global Online School</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock %}